@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  background-color: #074494;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header form{
  display: flex;
}

.logo{
  font-size: 2rem;
  color: #eee;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.logo:hover{
  transform: scale(1.1);
}

.search{
  border: 2px solid #09203f;
  border-radius: 5rem;
  outline: none;
  color: #eee;
  background: transparent;
  padding: 0.5rem 1.2rem;
}

.search::placeholder{
  color: #eee;
}

.submit-btn{
  display: flex;
  align-items: center;
  margin: 0 0.6rem;
  padding: 0.3rem 0.5rem;
  outline: none;
  border: 2px solid #09203f;
  border-radius: 50%;
  background: transparent;
}

.submit-btn img{
  width: 20px;
}

.App{
  background-color:  #09203f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.movie{
  position: relative;
  background-color:  #0c3366;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1.3rem;
  width: 270px;
}

.movie img{
  max-width: 100%;
}

.movie-info{
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.movie-overview{
  background-color: #074494;
  color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview{
  transform: translateY(0%);
}
